/* ----------------------------Footer------------------------------------------------------------- */
.Footer2
{    
    display: none;
    background-color: #8b8a8a;
    border-radius: 10px 10px 0 0;
}
footer {    
    margin-top: 117px;
    padding-top: 58px;
    background-color: #8b8a8a;
    border-radius: 10px 10px 0 0;
}
footer .F1 {
    height: auto;
    margin: auto;
    max-width: 1630px;
    display: flex;  
    justify-content: space-between;
    align-items: center;    
    padding: 0 100px 0 100px;
}


footer .F1 p {
    color: white;
}

footer .F1 div:first-child img {
    width: 136px;
}
footer .F1 div:first-child p{
    color: #EAEBF0;
    width: 247px;    
}
footer .F1 .FCT1,footer .F1 .FCT2{    
    height: 100%;    
    color: #EAEBF0;
    /* display: grid;
    justify-content: space-between;
    align-items: center; */
}
footer .F1 .FCT3 {
    color: #EAEBF0;
    height: auto;
    width: 302px;    
}
footer .F1 .FCT3 form {       
     display: flex;
     width: 302px;
}
footer .F1 .FCT3 form button {
    color: #EAEBF0;
    font-size: 15px;
    font-weight: 600;
    width: 88px;
    background-color: #f05454;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 46px;
}
footer .F1 .FCT3 form input {
    height: 44px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: none;
    padding-left:16px;
    color: #A5ACBA;
    font-size: 15px;
    font-weight: 400;
    background: #30475E;
    outline: none;
}
footer .F2 {    
    color: #EAEBF0;    
    display: flex;
    justify-content: space-between;
    align-items: center;    
    max-width: 1630px;  
    height: auto    ;
    margin: auto;
    margin-top: 97px;   
    padding: 0 100px 0 100px;
}

footer .F2 p {
    color: white;
}

footer .Developer {
    display: grid;
    grid-gap: 24px;
}
footer .Developer p {
    margin-top: 60px;
}
footer .F2 .SocialLogo {
    display: flex;
    justify-content: center;
    align-items: start;    
    flex-direction: column;
}
footer .F2 .SocialLogo img {
    margin-right: 29px;
}

/* footer .F2 .SocialLogo div {            
} */

footer .F1 .FCT4 {
    display: none;
}
footer .F1 .FCT5 {
    display: none;
}
/* @media screen and (max-width:1919px) and (min-width:1600px) {

} */
@media screen and (min-width:1024px) and (max-width:1439px) {
    footer .F1{        
        width: 768px;        
        margin: auto;
        display: grid;        
        grid-template-columns: 1fr 1fr;
        grid-gap: 62px;
    }    
    footer .F1 .FCT1 {
        display: none;
    } 
    footer .F1 .FCT2 {
        display: none;
    } 
    footer .F1 .FCT4 {
        color: #EAEBF0;
        display: block;
    }
    footer .F1 .FCT5 {
        color: #EAEBF0;
        display: block;
    }
    footer .F2 {        
        margin-top: 0;
        width: 768px;
    }
    footer .F2 .Developer p {        
        margin-top: 60px;
    }
}

@media screen and (min-width:768px)  and (max-width:1023px) {
    footer .F1{        
        max-width: 100%;        
        margin: auto;
        display: grid;        
        grid-template-columns: 1fr 1fr;
        grid-gap: 62px;
    } 
    footer .F2 {        
        max-width: 626px;
    }   
    footer .F2 .Developer p {        
        margin-top: 44px;        
    }
}

@media screen and (max-width:767px) {
    footer {
        display: none;
    }
    .Footer2{                
        display: grid;        
        place-items: center;
        background-color: #8b8a8a;
    }
    .Footer2 .FInner{           
        width: 400px;
        display: block;
        margin: auto;
    }
    .Footer2 .FooterCNT p{
        color: #EAEBF0;
        width: 343px;
    }
    .Footer2 .FCT {
        color: #EAEBF0;
        width: 272px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
    .Footer2 .FCT .FCT1 p , .Footer2 .FCT .FCT2 p , .Footer2 .FCT3 p {
        color: white;
    }
    .Footer2    .FCT3 {
        color: #EAEBF0;
        height: auto;
        width: 302px;    
    }
    .Footer2    .FCT3 form   {       
         display: flex;
         width: 302px;
    }
    .Footer2    .FCT3 form button {
        color: #EAEBF0;
        font-size: 15px;
        font-weight: 600;
        width: 88px;
        background-color: #f05454;
        border: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 46px;
    }
    .Footer2    .FCT3 form input {
        height: 44px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
        border: none;
        padding-left:16px;
        color: #A5ACBA;
        font-size: 15px;
        font-weight: 400;
        background: #30475E;
    }  
    .Footer2 .F2 {        
        display: flex;        
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
    }
    .Footer2 .F2 .Freserved {        
        text-align: center;
        margin-top: 24px;
    }
    .Footer2 .F2 .Developer p{
        text-align: center;
        margin-top: 0;      
        grid-gap: 16px;        
    }
    .Footer2 .FInner {
        width: 330px ;
        margin: auto;
    }
    .Footer2 .FInner .FooterCNT {        
        width: 100%;
    }
    .Footer2 .FooterCNT p{
        color: #EAEBF0;    
    }
    .Footer2 .FooterCNT p{
        width: 300px;        
        padding: 0;

        margin-right: 0;
    }
    .Footer2 .F2 {
        width: 300px;
        margin: auto;
        padding: 0px;
        margin-top: 50px;       
    }
    .Footer2 .F2 .SocialLogo div {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}
