  @import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap");
  a {
    text-decoration: none;  
    color: black;
    font-weight: 600;    
  }
  p {
    line-height: 27px;
  }
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  body p {
    color: #4e4e4e;
    line-height: 26px;
    margin-top: 0px;
  }
  .Headers{    

    background-color: #ffffff;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;  
  height: 80px;
  border-radius: 0 0 10px 10px;
  }
  .Header_Links{        
    display: flex;
    justify-content: center;   
    gap: 80px;
    align-items: center;    
    margin-right: 90px;    
  }
  .Logo_favicon{
    margin-left: 90px;
  }
  .Header_Links_Mob{
    display: none;
  }
  .Hamburger{
    display: none;
  }

  @media screen and (max-width:3840px) and (min-width:2256px) {
    .Headers{
        width: 1609px;              
        margin: auto;
    }    
  }

  @media screen and (max-width:2255px) and (min-width:1920px) {
    .Headers {
      width: 1900px;
      margin: auto;
    }
  }

  @media screen and (max-width:1599px) and (min-width:1440px) {
    .Why_Hackit .Why_Hackit_boxe1 {
        width: 1360px;        
        margin: auto;
        display: flex;        
        align-items: center;
    }
    .Why_Hackit .Why_Hackit_boxe1 div {
        width: 400px;          
    } 
    .Why_Hackit .Why_Hackit_boxe1 div p {
        width: 100%;
    }
    .Why_Hackit .Why_Hackit_boxe2 {
        margin-top: 30px;
        width: 1360px;        
    }
    .Why_Hackit .Why_Hackit_boxe2 div {
        width: 630px;        
    }
  }

  @media screen and (min-width:1024px) and (max-width:1439px) {    
    .Header_Links {      
      width: 900px;
      margin-right: 20px;   
      flex-grow: 1;
      gap: 20px;    
    }
    .Headers .Logo_favicon{ 
      margin-left: 20px;      
      flex-grow: 3;
    }
  }


  @media screen and (max-width:1023px ) {
    .Header_Links{
        display: flex;
        justify-content: center;   
        gap: 40px;
        align-items: center;
        margin-right: 50px;
    }
    .Logo_favicon{
        margin-left: 50px;
    }
    .Header_Links{
        display: none;
    }
    .Header_Links_Mob{    
        z-index: 1000000px;          
        transition: 0.5s;   
        border-top-right-radius: 20px;        
        border-bottom-right-radius: 20px;
        transform: translateX(-100%);
        height: 300px;
        color: white;        
        width: 500px;
        top: 80px;        
        position: absolute;
        display: flex;        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f05454;   
        gap: 20px;     
    }
    .Header_Links_Mob.active{
        z-index: -1000000;
        transition: 0.5s;   
        border-top-right-radius: 20px;        
        border-bottom-right-radius: 20px;                
        transform: translateX(0px);
        height: 300px;
        color: white;        
        width: 500px;
        top: 80px;        
        position: absolute;
        display: flex;        
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f05454;   
        border: 1px solid #EAEBF0; 
        gap: 20px;       
    }
    .Header_Links_Mob a{      
        position: relative;                  
        z-index: 999;        
    }
    .Hamburger{                     
        transition: 0.3s;
        display: block;
        position: relative;        
        margin-right: 70px;
        height: 5px;
        width: 30px;        
        background-color: #f05454;        
    }
    .Hamburger::before{          
        transition: 0.3s;      
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        left: 0px;
        position: absolute;
        content:' ';
        top: 8px;
        height: 5px;
        width: 30px;
        background-color: black;            
    }
    .Hamburger::after{        
        transition: 0.3s;
        left: 0px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        content:' ';
        bottom: 8px;
        height: 5px;
        width: 30px;
        background-color: black;            
    }
    .Hamburger.active{        
        display: block;
        position: relative;
        margin-right: 70px;
        height: 5px;
        width: 30px;        
        background-color: #f05454;                
    }
    .Hamburger.active::before{           
        transition: 0.3s;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;        
        left: -10px;
        content:' ';
        top: 8px;
        height: 5px;
        width: 30px;
        background-color: black;            
    }
    .Hamburger.active::after{        
        transition: 0.3s;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        position: absolute;
        left: 10px;
        content:' ';        
        bottom: 8px;
        height: 5px;
        width: 30px;
        background-color: black;            
    }
    .Hamburger{
        transition: 0.3s;
        display: block;
        position: relative;
        margin-right: 30px;
        height: 5px;
        width: 30px;        
        background-color: #f05454;        
    }
    .Hamburger.active{
        margin-right: 30px;
    }
    .Logo_favicon{
        margin-left: 30px;
    }
    .Header_Links_Mob.active{        
        width: 70%;        
    }
  }

  /* -------------------Home_Part---------------------- */

  .Home_Part{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
  }
  .Home_Part1{    
    text-align: left;    
    display: grid;    
    margin-right: 122px;
  }
  .Home_Part1 h2{    
    margin-bottom: 0;    
    font-weight: 700;
    font-size: 52px;
    width: 624px;
  }
  .Home_Part1 p{
    margin-bottom: 16px;    
    font-weight: 400;
    font-size: 16px;
    width: 624px;    
  }
  .Home_Part1 button{
    color: white;
    width: 121px;
    height: 46px;
    font-weight: 600;
    font-size: 15px;
    background-color: #f05454;
    border: none;
    border-radius: 6px;
  }

  @media screen and (min-width:1024px) and (max-width:1439px) {
    .Home_Part1 h2{   
        display: none;         
    }
    .Home_Part1 p{
        display: none;        
    }
    .Home_Part1 button{
        display: none;     
    }
    .Home_Part1{
        position: absolute;                
    }
    .Home_Part img{
        width: 800px;
    }
  }
  @media screen and (min-width:768px) and (max-width:1023px)  {     
    .Home_Part{                   
        z-index: -50000;  
        display: grid;            
        height: auto;             
    }         
    .Home_Part1 h2{   
        display: block;
    }
    .Home_Part1 button{
        display: block;     
    }
    .Home_Part  img{        
        left: 100px;        
        position: relative;
        width: 500px;
    }
    .Home_Part1{          
        margin-left: 50px;                
    }
  }

  @media screen and (max-width:767px) and (min-width:375px){
    .Home_Part {        
        height: auto;        
        margin-top: 40px;        
    }
    .Home_Part img{
      display: none;
    }
    .Home_Part1{           
      width: 400px; 
      margin: auto;        
      /* left: 0;
      top: 0;
      position: relative;         */
    }
    .Home_Part .Home_Part1 p {  
      margin-top: 0;  
      display: block;
      width: 100%;
      text-align: justify;
    }
    .Home_Part1 h2{         
        margin-bottom: 24px;      
        width: 323px;               
        font-size: 36px;
        font-weight: 700;           
    }
    .Home_Part1 p{        
        display: none;
    }
    .Home_Part1{           
        width: 340px; 
        margin: auto;        
        /* left: 0;
        top: 0;
        position: relative;         */
    }
  }
  .banner_port {
    width: 1360px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
  }
  /* ---------------------------------------BnchMark------------------------------------------------------ */

  .port_container1 {
    margin: 100px 0px 90px 0px;
  }
  .port_container1 .port_details h1 {
    margin-bottom: 20px;
  }
  .port_details {
    margin: auto;
    text-align: center;
    width: 1010px;
  }
 .port_icons {  
  max-width: 1167px;
  margin: 36px auto;  
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 28px;    
  padding: 0 50px 0 50px;
}
.port_icons2 {    
  max-width: 1167px;
  margin: 28px auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 28px;
  
}
.port_icons3 {
  display: none;
}
.port_icons img {
  width: 190px;
  height: 124px;
  background: #f3fbff;
  border-radius: 8px;
  padding: 28px 48px 28px 48px;
  object-fit: contain;
}
.port_icons2 img {
  width: 201px;
  height: 140px;
  background: #D1EDFF;
  border-radius: 8px;
  padding: 20px 35px 20px 35px;
  object-fit: contain;
}

  @media screen and (max-width:3840px) and (min-width:2256px) {
       .port_icons {
        width: 1900px;
        margin: auto;
        margin-bottom: 28px;
        margin-top: 105px;
       } 
       .port_icons2 {
        width: 1900px;
        margin: auto;
       }
      .port_icons2 img{
        width: 216px;
      }
  }
  @media screen and (max-width:1439px) and (min-width:1025px) {
    .banner_port {
      max-width: 1026px;      
    }
  }
  @media screen and (max-width:1024px) {
    .port_container1 {
        margin-top: 50px;
    }
    .banner_port {
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .port_head {
      width: 624px;
    }
    .port_img {
      width: 322.73px;
      height: auto;
      margin-left: 420px;
    }
    .port_head h1 {
      font-weight: 700;
      font-size: 52px;
      line-height: 60px;
    }
    .port_details {
      width: 680px;
    }
   .port_icons {
 
    display: none;
  }
  .port_icons2 {
    display: none;
  }
  .port_icons3{    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20px;
  }
 
  .port_icons3 img {
    width: 132px;
    height: 90px;
    padding: 20px 34px 20px 34px;
    object-fit: contain;
  }
  .port_icons3 img:last-child {
    grid-column: 1 / -1;
  }
   ------ */
  .banner_port {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .port_head {
    width: 348px;
  }
  .port_img {
    display: none;
  }
  .port_head h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    margin-bottom: 8px;
  }
  .port_details {
    width: 195px;
  }
  .port_details p {
    display: none;
  }
 
}
@media screen and (max-width: 426px){
    .port_icons3 img {
        width: 106px;
        height: 73px;
        padding: 16px 28px 16px 28px;
      }
      .port_icons3 img:last-child {
        margin-left: 0px;
      }

}


/* ---------------------------------------Our Customers------------------------------------------ */

.Our_Customers_Logo h2{
  text-align: center;
} 
.Our_Customers_Logo .Our_Customers_Desc {
  text-align: center;
}
.Our_Customers_Logo .Bubbles{    
  max-width:1650px;
  margin: 88px auto;
  display: flex;    
  justify-content: space-between; 
  align-items: center;
  flex-wrap: wrap;    
  gap: 30px;
  padding: 0 50px 0 50px;    
}
.Our_Customers_Logo .Bubbles div {
  width: 13vw;
  height: 8vw;    
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clogo1 {
  background-color: #a7c3094d;        
}
.Clogo2 {
  background-color: #0194657a;
}
.Clogo3 {
  background-color: #1f53a157;
}
.Clogo4 {
  background-color: #22af4a49;
}
.Clogo5 {
  background-color: #ed1d2459;
}
.Clogo6 {
  background-color: #181b2675;
}
.Clogo7 {
  background-color: #0555a062;
}
.Clogo8 {
  background-color: #024e9f6c;
}
.Clogo9 {
  background-color: #fed40163;
}
.Clogo10 {
  background-color: #181b2662;
}
.Clogo11 {
  background-color: #fe0000;
}
.Clogo12 {
  background-color: #ee32386c;
}
.Clogo13 {
  background-color: #5e9e1e52;
}
.Clogo14 {
  background-color: #1b1c1c52;
}
.Clogo15 {
  background-color: #f17c2380;
}
.Clogo16 {
  background-color: #340c646c;
}
.Clogo17 {
  background-color: #0c6aa56c;
}
.Clogo18 {
  background-color: #0096dc71;    
}
.Clogo19 {
  background-color: #22af4a67;    
}
.Clogo20 {
  background-color: #068fd36e;
}
.Clogo21 {
  background-color: #ffdd006c;
}
.Clogo22 {
  background-color: #089fda60;
}
.Clogo23 {
  background-color: #a8183271;
}
.Clogo24 {
  background-color: #fcb61373;
}
.Clogo25 {
  background-color: #0096dc62;
}
.Clogo26 {
  background-color: #b11015;
}
.Clogo27 {
  background-color: #6d2b944b;
}
.Clogo28 {
  background-color: #f573228c;
}
.Clogo29 {
  background-color: #00000056;
}
.Clogo30 {
  background-color: #8c00526e;
}
.Clogo31 {
  background-color: #0096dc60;
}
.Clogo32 {
  background-color: #f6b5127e;
}
.Clogo33 {
  background-color: #ecb20359;
}
.Clogo34 {
  background-color: #1b459a21;
}
.Clogo35 {
  background-color: #53161d52;
}
.Clogo36 {
  background-color: #0364aa59;
}
.Our_Customers_Logo .Bubbles div img {
      width: 7vw;
      height: 7vw;
}
.ShowMore {    
  margin: auto;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: transparent;
}
.ShowMore p {
  color: #437EF7;
  margin: 0;    
}

@media screen and (max-width:768px) and (min-width:425px){   
  .Our_Customers_Desc {
      display: none;
  }     
  .Our_Customers_Logo .Bubbles {        
      max-width:565px;             
  }
  .Our_Customers_Logo .Bubbles div {
     height: 15vw;
     width: 34vw;
  }
  .Our_Customers_Logo .Bubbles div img{
      width: 15vw;        
      height: 15vw;         
  }   
  .Our_Customers_Logo .Bubbles .Clogo7 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo8 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo9 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo10 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo11 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo12 {    
  display: none;    
 }
 .Our_Customers_Logo .Bubbles .Clogo13 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo14 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo15 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo16 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo17 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo18 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo19 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo20 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo21 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo22 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo23 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo24 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo25 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo26 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo27 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo28 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo29 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo30 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo31 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo32 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo33 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo34 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo35 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo36 {
  display: none;
 }
}


@media screen and (max-width:424px) and (min-width:376px) {
  .Our_Customers_Desc {
      display: none;
  }
  
  .Our_Customers_Logo .Bubbles {   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;     
    max-width: 370px;                    
    
  }
  .Our_Customers_Logo .Bubbles div {
      height: 80px;
      width: 150px;              
      border-radius: 0;
   }
   .Our_Customers_Logo .Bubbles div img{
       width: 15vw;        
       height: 15vw;         
   }
   .Our_Customers_Logo .Bubbles .Clogo1 {
    border-radius: 10px 0 0 0;
   }   
   .Our_Customers_Logo .Bubbles .Clogo2 {
    border-radius: 0 10px 0 0;
   } 
   .Our_Customers_Logo .Bubbles .Clogo5 {
    border-radius: 0 0 0 10px;
   }
   .Our_Customers_Logo .Bubbles .Clogo6 {
    border-radius: 0 0 10px 0;
   } 
   .Our_Customers_Logo .Bubbles .Clogo7 {
    display: none;    
  }
  .Our_Customers_Logo .Bubbles .Clogo8 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo9 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo10 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo11 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo12 {    
  display: none;    
 }
 .Our_Customers_Logo .Bubbles .Clogo13 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo14 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo15 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo16 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo17 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo18 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo19 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo20 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo21 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo22 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo23 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo24 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo25 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo26 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo27 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo28 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo29 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo30 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo31 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo32 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo33 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo34 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo35 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo36 {
  display: none;
 }
}
@media screen and (max-width:375px) {
  .Our_Customers_Desc {
    display: none;
  }
  .Our_Customers_Logo .Bubbles {   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;     
    max-width: 370px;  
    margin-top: 0px;                  
    
  }
  .Our_Customers_Logo .Bubbles div {
      height: 80px;
      width: 120px;              
      border-radius: 0;
   }
   .Our_Customers_Logo .Bubbles div img{
       width: 15vw;        
       height: 15vw;         
   }
   .Our_Customers_Logo .Bubbles .Clogo1 {
    border-radius: 10px 0 0 0;
   }   
   .Our_Customers_Logo .Bubbles .Clogo2 {
      border-radius:  0 10px 0 0;
   } 
   .Our_Customers_Logo .Bubbles .Clogo5 {
    border-radius: 0 0 0 10px;      
   }
   .Our_Customers_Logo .Bubbles .Clogo6 {   
    border-radius: 0 0 10px 0;
   }
   .Our_Customers_Logo .Bubbles .Clogo7 {    
    display: none;
    
   }
   .Our_Customers_Logo .Bubbles .Clogo8 {
    display: none;
    
  }
  .Our_Customers_Logo .Bubbles .Clogo9 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo10 {
    display: none;
  }
  .Our_Customers_Logo .Bubbles .Clogo11 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo12 {    
  display: none;    
 }
 .Our_Customers_Logo .Bubbles .Clogo13 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo14 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo15 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo16 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo17 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo18 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo19 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo20 {    
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo21 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo22 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo23 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo24 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo25 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo26 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo27 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo28 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo29 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo30 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo31 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo32 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo33 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo34 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo35 {
  display: none;
 }
 .Our_Customers_Logo .Bubbles .Clogo36 {
  display: none;
 }
  }
  

/* @media screen and (max-width:376px) {    
  .Our_Customers_Logo .Bubbles{ 
      margin: auto;
      overflow: hidden;
      width: auto;        
      position: relative;    
      height: 400px;    
  
  }  
  .Bubbles .Clogo1{
      display: none;
  }
  .Bubbles .Clogo2{        
      display: none;
  }
  .Bubbles .Clogo3{
      display: none;
  }
  .Bubbles .Clogo4{
      display: none;
  }        
  .Bubbles .Clogo6{        
      top: 20px;
      left: 20px;        
  }
} */

@keyframes bounce {
 0%{
   transform: translateY(0px);
 }
 50%{
  transform: translateY(-20px);
 }
 100%{
  transform: translateY(0px);
 }   
}
@keyframes bounce-back {
  0%{
    transform: translateY(0px);
  }
  50%{
   transform: translateY(10px);
  }
  100%{
   transform: translateY(0px);
  }   
}



  /* -------------------------------OurSER--------------------------------------------- */

.Skillset {
  margin-top: 93px;
  text-align: center;
}
.SkillsetPara {
  text-align: center;
}
@media screen and (max-width:767px) {
  .SkillsetPara {
      display: none;        
  }
  .Skillset {
      display: none;
  }
}
@media screen and (min-width:768px) {
  .SkillsetPara {
      width: 700px;
      margin: auto;     
  }
}


.Arrow {
  border: 1px solid #A5A5A5;
  border-radius: 50%;
  padding: 1vw;      
  margin: 1vw;
}
.OurSER {   
  margin-top: 127px;    
  display: flex;
  justify-content: center;
  align-items: center;  
  margin-bottom: 127px;
  padding: 0 30px 0 30px;    
}
.OurSER .SliderOuter {    
  width: 61vw;  
  overflow: hidden;      
  display: flex;
  justify-content: start;
  align-items: center;
}
.OurSER .Slider {              
  transition: 0.5s;
  display: flex;  
  justify-content: start;
  align-items: center;
  gap: 2.55vw;      
  width: 170vw;        
}
.OurSER .Slider img{ 
  border: 1px solid #C9C9C9; 
  border-radius: 50%;  
  width: 7.5vw;
  padding: 1.25vw;
}  
@media screen and (max-width:768px) {
  .OurSER {        
      padding: 0;        
  }
  .OurSER .SliderOuter {          
        width: 63vw;          
  }
  .OurSER .Slider {              
      /* width: 10vw; */
  }
}
@media screen and (max-width:767px) {
  .OurCostomer {
      display: none;
    }
    .OurSER {
      display: none;  
    }  
}

